# Build folders
build/
build*/
_build*/
out/
out*/
_out*/
cmake-build*/
doc/doxygen*/

# CMake
CMakeUserPresets.json
CMakeLists.txt.user

# IDEs
.idea/
.vs/
.vscode/
_ReSharper.Caches/
Win32-Debug/
Win32-Release/
x64-Debug/
x64-Release/

# Mac
.DS_Store

# KORSAR output
out/
korres
korsav
korlis
kutlis
log_calc.txt
log_start.txt
log_proc.txt
log_restart.txt
*.dat
*.exe